html {
  font-size: 18px;
  font-family: "Quattrocento Sans", Arial, Helvetica, sans-serif;
  line-height: 2.1rem;
  color: #140300; }

body {
  margin: 0;
  background-color: #fef5ea; }
  @media only screen and (min-width: 671px) {
    body {
      padding: 2rem 2rem 0 2rem; } }

h1,
h2,
h3,
h4 {
  font-family: "Quattrocento", serif;
  font-weight: bold; }

img {
  filter: sepia(0.3) saturate(0.9);
  border-radius: 60px;
  -webkit-box-shadow: 0px 1px 5px #ff3314;
  -moz-box-shadow: 0px 1px 5px #ff3314;
  box-shadow: 0px 1px 5px #ff3314; }

hr {
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ad1700, rgba(0, 0, 0, 0)); }

a,
a:hover,
a:visited,
a:active {
  color: #ad1700; }

blockquote {
  padding: 2rem 3rem;
  margin: 3rem 2rem;
  border-radius: 60px;
  -webkit-box-shadow: 0px 1px 5px #ff3314;
  -moz-box-shadow: 0px 1px 5px #ff3314;
  box-shadow: 0px 1px 5px #ff3314;
  background-color: white;
  font-style: italic;
  font-size: 1.2em; }
  @media only screen and (max-width: 670px) {
    blockquote {
      margin: 2rem 0; } }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote p:last-child {
    margin-bottom: 0; }
  blockquote + h2 {
    margin-top: 2rem; }

#root {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

#header {
  margin: 0 20px;
  height: 120px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ad1700 0%, #ad1700 20%, #e04100 20%, #e04100 40%, #ff7300 40%, #ff7300 60%, #fc9700 60%, #fc9700 80%, #ffb501 80%, #ffb501 100%);
  -webkit-box-shadow: 0px 1px 5px #ad1700;
  -moz-box-shadow: 0px 1px 5px #ad1700;
  box-shadow: 0px 1px 5px #ad1700; }
  @media only screen and (max-width: 670px) {
    #header {
      margin: 10px 10px 0 10px; } }

.nav {
  height: 100px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 50px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: inset 0px 1px 2px #470900;
  -moz-box-shadow: inset 0px 1px 2px #470900;
  box-shadow: inset 0px 1px 2px #470900;
  background-color: #ad1700; }
  @media only screen and (max-width: 670px) {
    .nav {
      flex-direction: column; } }
  .nav a {
    margin: 0 20px;
    color: #fef5ea;
    font-family: "Quattrocento";
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px #470900; }
  .nav a:hover,
  .nav a:visited,
  .nav a:focus {
    color: #fef5ea; }
  .nav a:hover {
    text-decoration: underline; }

.avatar {
  position: relative; }
  .avatar img {
    border-radius: 50%;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px; }
  .avatar .shadow {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-box-shadow: inset 0px 1px 2px #470900;
    -moz-box-shadow: inset 0px 1px 2px #470900;
    box-shadow: inset 0px 1px 2px #470900; }

#content {
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  @media only screen and (max-width: 670px) {
    #content {
      padding: 0 20px; } }

h1 {
  font-size: 47px;
  line-height: 60px; }

h2 {
  font-size: 37px;
  line-height: 48px; }

h3 {
  font-size: 29px;
  line-height: 40px; }

h4 {
  font-size: 23px;
  line-height: 33px; }

h5 {
  font-size: 18px;
  line-height: 27px; }

h6 {
  font-size: 14px;
  line-height: 22px; }

pre {
  -webkit-box-shadow: 0px 1px 5px #ff3314;
  -moz-box-shadow: 0px 1px 5px #ff3314;
  box-shadow: 0px 1px 5px #ff3314;
  margin: 3rem auto;
  border-radius: 60px;
  overflow-x: auto;
  line-height: 1.5rem; }
  pre code.hljs {
    padding: 45px; }

p code {
  background-color: white; }

p strong {
  color: #ad1700; }

.first {
  margin-top: 0; }

.box {
  padding: 1rem; }

.mobile-only {
  display: none; }
  @media only screen and (max-width: 670px) {
    .mobile-only {
      display: inline; } }

#content {
  min-width: 0;
  padding-top: 2rem; }
  #content h1 {
    margin-top: 0; }
  #content img {
    max-width: 100%; }
  #content img.half-scale {
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 671px) {
      #content img.half-scale {
        max-width: 50%; } }
  #content img + cite {
    display: block;
    text-align: right; }

.by-line {
  font-weight: normal;
  color: #793d34; }

#footer {
  margin: 2.5rem;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ad1700 0%, #ad1700 20%, #e04100 20%, #e04100 40%, #ff7300 40%, #ff7300 60%, #fc9700 60%, #fc9700 80%, #ffb501 80%, #ffb501 100%);
  -webkit-box-shadow: 0px 1px 5px #ad1700;
  -moz-box-shadow: 0px 1px 5px #ad1700;
  box-shadow: 0px 1px 5px #ad1700; }
  @media only screen and (max-width: 670px) {
    #footer {
      margin: 50px 10px 10px 10px; } }
  #footer .legal {
    height: 40px;
    margin-right: 5px;
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 1px 2px #470900;
    -moz-box-shadow: inset 0px 1px 2px #470900;
    box-shadow: inset 0px 1px 2px #470900;
    background-color: #ad1700;
    color: #fef5ea;
    font-size: 1rem; }
    #footer .legal a {
      font-size: 1.4rem;
      margin-right: 1rem;
      color: #fef5ea;
      text-shadow: 1px 1px 3px #470900; }
    #footer .legal h6 {
      margin: 0;
      font-size: 1rem;
      font-family: "Quattrocento";
      text-shadow: 1px 1px 3px #470900; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

article {
  font-family: "Quattrocento"; }

.main-copy {
  margin-top: 3rem; }

.twitter-tweet {
  margin-left: auto;
  margin-right: auto; }

h3 + .content-article {
  margin-top: 2rem; }

.content-article h2 {
  margin-top: 0; }

.content-article hr {
  padding: 0 2rem; }

.engagements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .engagements .engagement {
    width: 180px;
    -webkit-box-shadow: 0px 1px 5px #ff3314;
    -moz-box-shadow: 0px 1px 5px #ff3314;
    box-shadow: 0px 1px 5px #ff3314;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center; }
    .engagements .engagement h4,
    .engagements .engagement h5,
    .engagements .engagement h6 {
      font-family: "Quattrocento"; }
    .engagements .engagement h4 {
      margin-top: 0; }
    .engagements .engagement h6:last-child {
      margin-bottom: 0; }

h1.about a {
  margin-left: 1rem; }

@media only screen and (max-width: 670px) {
  h1.about br + a {
    margin-left: 0; } }

div.about {
  display: flex; }
  @media only screen and (max-width: 670px) {
    div.about {
      flex-flow: wrap;
      justify-content: center; } }
  div.about .bio {
    flex-grow: 1;
    margin-right: 2rem; }
    div.about .bio p:first-child {
      margin-top: 0; }
  div.about .profile {
    font-size: 2rem;
    text-align: center; }
    div.about .profile img {
      width: 250px;
      height: 250px;
      max-width: unset;
      border-radius: 50%; }
    div.about .profile a:not(:last-child) {
      margin-right: 1rem; }
