---
permalink: atom.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Steven Hicks</title>
	<link href="https://stevenhicks.me"/>
	<updated>{{ collections.post | lastUpdatedDate }}</updated>
	<author>
		<name>Steven Hicks</name>
		<email>steven.j.hicks@gmail.com</email>
	</author>
	{% for post in collections.postsReversed %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ metadata.url }}{{ post.url }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ metadata.url }}{{ post.url }}</id>
		<content type="html">{{ post.templateContent }}</content>
	</entry>
	{% endfor %}
</feed>