$brand: #ad1700;
$brand-dark: darken($brand, 20%);
$brand-light: lighten($brand, 20%);
$brand-alt: #ff7300;
$brand-alt-medium: lighten(desaturate($brand-alt, 80%), 30%);
$brand-alt-light: #ff920045;
$brand-highlight: lighten($brand-alt-light, 8%);

$brand-white: #fef5ea;
$brand-white-pure: white;
$brand-black: darken($brand, 30%);
$brand-black-desaturated: desaturate($brand-black, 60%);
$brand-dark-gray: lighten($brand-black-desaturated, 30%);
$brand-gray: lighten($brand-black-desaturated, 60%);
$brand-light-gray: lighten($brand-black-desaturated, 80%);

$stripe-1: $brand;
$stripe-2: #e04100;
$stripe-3: $brand-alt;
$stripe-4: #fc9700;
$stripe-5: #ffb501;

$sans-serif: 'Quattrocento Sans';
$serif: 'Quattrocento';

$border-radius: 60px;

$width-max-mobile: 650px;
$width-min-desktop: 651px;

@mixin boxShadowed($color) {
  -webkit-box-shadow: 0px 1px 5px$color;
  -moz-box-shadow: 0px 1px 5px $color;
  box-shadow: 0px 1px 5px $color;
}

@mixin boxShadowedInset($color) {
  -webkit-box-shadow: inset 0px 1px 2px $color;
  -moz-box-shadow: inset 0px 1px 2px $color;
  box-shadow: inset 0px 1px 2px $color;
}

@mixin textShadowed($color) {
  text-shadow: 1px 1px 3px $color;
}

html {
  font-size: 18px;
  font-family: $sans-serif, Arial, Helvetica, sans-serif;
  line-height: 2.1rem;

  color: $brand-black;
}

body {
  margin: 0;

  background-color: $brand-white;

  @media only screen and (min-width: $width-min-desktop) {
    padding: 2rem 2rem 0 2rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $serif, serif;
  font-weight: bold;
}

img {
  filter: sepia(0.3) saturate(0.9);
  border-radius: $border-radius;
  @include boxShadowed($brand-light);
}

hr {
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    $brand,
    rgba(0, 0, 0, 0)
  );
}

a,
a:hover,
a:visited,
a:active {
  color: $brand;
}

blockquote {
  padding: 2rem 3rem;
  margin: 3rem 2rem;
  @media only screen and (max-width: $width-max-mobile) {
    margin: 2rem 0;
  }
  border-radius: $border-radius;

  @include boxShadowed($brand-light);
  background-color: $brand-white-pure;
  font-style: italic;
  font-size: 1.2em;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  & + h2 {
    margin-top: 2rem;
  }
}

#root {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  margin: 0 20px;
  @media only screen and (max-width: $width-max-mobile) {
    margin: 10px 10px 0 10px;
  }

  height: $border-radius * 2;
  border-radius: $border-radius;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(
    to bottom,
    $stripe-1 0%,
    $stripe-1 20%,
    $stripe-2 20%,
    $stripe-2 40%,
    $stripe-3 40%,
    $stripe-3 60%,
    $stripe-4 60%,
    $stripe-4 80%,
    $stripe-5 80%,
    $stripe-5 100%
  );
  @include boxShadowed($brand);
}

.nav {
  height: 100px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 50px;

  align-self: center;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: $width-max-mobile) {
    flex-direction: column;
  }
  align-items: center;

  @include boxShadowedInset($brand-dark);
  background-color: $brand;

  a {
    margin: 0 20px;

    color: $brand-white;
    font-family: $serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    @include textShadowed($brand-dark);
  }

  a:hover,
  a:visited,
  a:focus {
    color: $brand-white;
  }
  a:hover {
    text-decoration: underline;
  }
}

.avatar {
  position: relative;

  img {
    border-radius: 50%;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .shadow {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    top: 10px;
    left: 0;

    @include boxShadowedInset($brand-dark);
  }
}

#content {
  padding: 0 70px;
  @media only screen and (max-width: $width-max-mobile) {
    padding: 0 20px;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  font-size: 47px;
  line-height: 60px;
}
h2 {
  font-size: 37px;
  line-height: 48px;
}
h3 {
  font-size: 29px;
  line-height: 40px;
}
h4 {
  font-size: 23px;
  line-height: 33px;
}
h5 {
  font-size: 18px;
  line-height: 27px;
}
h6 {
  font-size: 14px;
  line-height: 22px;
}

/// below here is untouched

pre {
  @include boxShadowed($brand-light);
  margin: 3rem auto;
  border-radius: $border-radius;
  overflow-x: auto;
  line-height: 1.5rem;
  code.hljs {
    padding: 45px;
  }
}
p code {
  background-color: $brand-white-pure;
}

.box {
  padding: 1rem;
}

#content {
  min-width: 0;
  padding-top: 2rem;
  h1 {
    margin-top: 0;
  }
  img {
    max-width: 100%;
  }
  img.half-scale {
    @media only screen and (min-width: $width-min-desktop) {
      max-width: 50%;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img + cite {
    display: block;
    text-align: right;
  }
}

.by-line {
  font-weight: normal;
  color: $brand-dark-gray;
}

#footer {
  margin: 2.5rem;
  @media only screen and (max-width: $width-max-mobile) {
    margin: 50px 10px 10px 10px;
  }
  height: 50px;
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(
    to bottom,
    $stripe-1 0%,
    $stripe-1 20%,
    $stripe-2 20%,
    $stripe-2 40%,
    $stripe-3 40%,
    $stripe-3 60%,
    $stripe-4 60%,
    $stripe-4 80%,
    $stripe-5 80%,
    $stripe-5 100%
  );
  @include boxShadowed($brand);
  .legal {
    height: 40px;
    margin-right: 5px;
    padding: 0 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;

    @include boxShadowedInset($brand-dark);
    background-color: $brand;
    color: $brand-white;
    font-size: 1rem;

    a {
      font-size: 1.4rem;
      margin-right: 1.2rem;
      color: $brand-white;
      @include textShadowed($brand-dark);
    }
    h6 {
      margin: 0;
      font-size: 1rem;
      font-family: $serif;
      @include textShadowed($brand-dark);
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

article {
  font-family: $serif;
}
.main-copy {
  margin-top: 3rem;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.content-article {
  h3 + & {
    margin-top: 2rem;
  }
  h2 {
    margin-top: 0;
  }
  hr {
    padding: 0 2rem;
  }
}

.engagements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .engagement {
    width: 180px;
    @include boxShadowed($brand-light);
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    h4,
    h5,
    h6 {
      font-family: $serif;
    }
    h4 {
      margin-top: 0;
    }
    h6:last-child {
      margin-bottom: 0;
    }
  }
}

.about {
  display: flex;
  @media only screen and (max-width: $width-max-mobile) {
    flex-flow: wrap;
    justify-content: center;
  }
  .bio {
    flex-grow: 1;
    margin-right: 2rem;
    p:first-child {
      margin-top: 0;
    }
  }
  .profile {
    font-size: 2rem;
    img {
      width: 250px;
      height: 250px;
      max-width: unset;
      border-radius: 50%;
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
    text-align: center;
  }
}
