---
title: About - Steven Hicks
date: 2017-02-11
layout: layout
metaDescription: All about Milwaukee developer Steven Hicks.
---


h1 About Me!

div.about
    div.bio
        p I am a web developer with nearly 20 years experience. I like using the right tool for the right job, especially if it is JavaScript. I am an advocate of TDD, clean code, and writing maintainable software.
        p My current passion is technical speaking. I love sharing my experiences with others at meetups and conferences. I have long enjoyed speaking at work, but in late 2015 I built the courage to speak outside of work, and I haven't looked back.
        p As much as I love development, I love the outdoors even more. I am outside almost the entire time from April to November. If I didn't live in Wisconsin, I would be outside all of the other months too.
        p Summers are spent swimming or camping with my wife and kids, training for and doing triathlons, mountain biking, and running. Winters are spent waiting for the right conditions to sled, snowboard, or cross country ski, and climbing indoors.
    div.profile
        img.img-circle.avatar(src='/static/img/avatar.jpg')
        br
        a(href='//twitter.com/pepopowitz')
            i.fa.fa-twitter-square(aria-hidden='true')
                span.sr-only
                    | @pepopowitz on Twitter
        a(href='//www.linkedin.com/in/stevenjhicks')
            i.fa.fa-linkedin-square(aria-hidden='true')
            span.sr-only
                | Steven Hicks on LinkedIn
