---
title: About - Steven Hicks
date: 2017-02-11
layout: layout
metaDescription: All about Milwaukee developer Steven Hicks.
---


h1.about About Me!
    br.mobile-only
    a(href='//twitter.com/pepopowitz')
        i.fa.fa-twitter-square(aria-hidden='true')
        span.sr-only
            | @pepopowitz on Twitter
    a(href='//github.com/pepopowitz')
        i.fa.fa-github-square(aria-hidden='true')
        span.sr-only
            | pepopowitz on GitHub
    a(href='//www.linkedin.com/in/stevenjhicks')
        i.fa.fa-linkedin-square(aria-hidden='true')
        span.sr-only
            | Steven Hicks on LinkedIn
    a(href='mailto:steven.j.hicks@gmail.com')
        i.fa.fa-envelope-square(aria-hidden='true')
        span.sr-only
            | Steven Hicks's email
div.about
    div.bio
        p I am a web developer with nearly 20 years experience. I like using the right tool for the right job, especially if it is JavaScript. I am an advocate of TDD, compassionate code, and collaboration.
        p I love sharing my experiences with others by speaking at meetups and conferences. I have long enjoyed speaking at work, but in late 2015 I built the courage to speak outside of work, and I haven't looked back.
        p As much as I love development, I love the outdoors even more. I am outside almost the entire time from April to November. If I didn't live in Wisconsin, I would be outside all of the other months too.
        p Summers are spent swimming or camping with my wife and kids, training for and racing triathlons, and trail running. Winters are spent waiting for the right conditions to sled, snowboard, or cross country ski, and climbing indoors.
        